/* ---FONTS--- */

@font-face {
    font-family: 'Montreux-Grotesk';
    font-weight: 200;
    src: url('assets/fonts/Montreux_Grotesk_Soft/MontreuxGS-Lt.woff2') format('woff2');
}

@font-face {
    font-family: 'Montreux-Grotesk';
    font-weight: 200;
    font-style: italic;
    src: url('assets/fonts/Montreux_Grotesk_Soft/MontreuxGS-LtIt.woff2') format('woff2');
}

@font-face {
    font-family: 'Montreux-Grotesk';
    font-weight: 400;
    src: url('assets/fonts/Montreux_Grotesk_Soft/MontreuxGS-Rg.woff2') format('woff2');
}

@font-face {
    font-family: 'Montreux-Grotesk';
    font-weight: 400;
    font-style: italic;
    src: url('assets/fonts/Montreux_Grotesk_Soft/MontreuxGS-RgIt.woff2') format('woff2');
}

@font-face {
    font-family: 'Montreux-Grotesk';
    font-weight: 700;
    src: url('assets/fonts/Montreux_Grotesk_Soft/MontreuxGS-Bd.woff2') format('woff2');
}

@font-face {
    font-family: 'Montreux-Grotesk';
    font-weight: 700;
    font-style: italic;
    src: url('assets/fonts/Montreux_Grotesk_Soft/MontreuxGS-BdIt.woff2') format('woff2');
}

@font-face {
    font-family: 'Montreux-Grotesk';
    font-weight: 900;
    src: url('assets/fonts/Montreux_Jazz_Soft/MontreuxJS-Blk.woff2') format('woff2');
}

@font-face {
    font-family: 'Montreux-Grotesk';
    font-weight: 900;
    font-style: italic;
    src: url('assets/fonts/Montreux_Jazz_Soft/MontreuxJS-BlkIt.woff2') format('woff2');
}

/* ---Generals--- */

:root {
    --bgColor: #ecf1f2;
    --redColor: #ee5147;
    /* --blueColor: #1782bd; */
    --blueColor: #1884bf;
    --mediumBlueColor: #54b3dd;
    --lightBlueColor: #9fdcf1;
    --grayColor: #565656;
    --middleGrayColor: #747474;
    --lightGrayColor: #a7a7a7;

    --bgGradient:
         var(--bgColor) 0%,
         var(--bgColor) 80%,
         #c5d5d9 100%;

    --simpleShadow: 0px 3.5px 4px 0px rgba(0,0,0,0.25);
    --bigShadow: 0px 7px 18px -1px rgba(0,0,0,0.25); 
    font-size: 62.5%;

    --maxWidth: 1200px;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    
    
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    font-size: 1.6rem;
    background: linear-gradient(var(--bgGradient));
    color: var(--blueColor);
    font-family: 'Montreux-Grotesk', sans-serif;
    text-align: center;

}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

section {
    /* margin: 2rem 0rem 2rem 0; */
    padding: 4rem 0 5rem 0;
    min-height: 30rem;
}

#background-blue {
    width: 100vw;
    height: 100vh;
    top: -100%;
    position: absolute;
    background-color: var(--blueColor);
    z-index: -1;
    animation: ola 1.5s ease;
}

main {
    max-width: var(--maxWidth);
    margin: auto auto;
    /* z-index: -1; */
}

/* ----------------
    Back to Top
------------------- */

#back-to-top {
    position: fixed;
    right: 4rem;
    bottom: 4rem;
    width: 5rem;
    height: 5rem;
    background-color: var(--blueColor);
    border-radius: 50%;
    transition: 200ms;
    color: var(--bgColor);
    box-shadow: var(--simpleShadow);
    

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#back-to-top:hover {
    background-color: var(--redColor);
    color: var(--bgColor);
}


/* ----------------
    Barrita NAV
----------------- */

header {
    /* width: 100%; */
    margin: 2rem auto;
    color: var(--bgColor);
    /* z-index: 1; */
    /* display: flex;
    justify-content: space-evenly; */

    .wave-down {
        position: absolute;
        width:170rem;
        top: -2rem;
        left: 0;
        z-index: -1;
        pointer-events: none;
        animation: ola 1s ease-out;
    }
}

@keyframes ola {
    0% {transform: translateY(100vh);}
    100% {transform: translateY(0%);}
}

#logo {
    font-weight: 900;
    font-size: 4rem;
    /* margin: auto 10rem; */
    transition: 300ms ease;
    white-space: nowrap;
    width: 30rem;
    height: 3rem;
    /* overflow: hidden; */

    & img {
        margin-top: -2%;
    }
}

#logo:hover {
    transform: scale(1.1);
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    /* margin: auto 2rem; */
    font-weight: bold;

    & ul {
        display: flex;
        list-style-type: none;
    }
}

.header-link {
    margin: auto 2rem;
    transition: 300ms ease;
    font-size: 1.8rem;
}

.header-link:hover:not(.no) {
    transform: scale(1.1);
    font-weight: 600;
    text-decoration: underline 3px;
}

.boton-rojo {
    background-color: var(--redColor);
    padding: 1rem 4rem;
    border-radius: 1rem;
    display: flex;
    margin: auto 0rem auto 0rem;
    transition: 200ms ease;
    box-shadow: var(--simpleShadow);
    text-decoration: none;

    & p {
        font-size: 2rem;
        font-weight: 700;
        margin: auto auto;
        color: var(--bgColor);
        text-decoration: none;
    }
}

.boton-rojo:hover {
    transform: scale(1.2);
    text-decoration: none;
}


/* -------------------
    OPENING SECTION
---------------------- */

#headline {
    position: relative;
    z-index: -2;
}

h1 {
    color: var(--redColor);
    font-weight: 900;
    font-size: 12rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    margin: 14rem auto auto;
    text-align: center;
    width: 100%;
    line-height: 11rem;
    z-index: -3;
}

h2 {
    text-align: center;
    width: 100rem;
    color: var(--grayColor);
    margin-top: 2rem;
    margin-inline: auto;
    font-size: 2.5rem;
    text-wrap: balance;
    z-index: -3;
}


/* ------------------------
     PREGUNTAS SECTION 
--------------------------- */

#preguntas {
    position: relative;
    z-index: -2;
}

.faq-pregunta {
    margin-bottom: 5rem;
    /* z-index: -3; */

    & h3 {
        font-size: 3rem;
        margin-bottom: 2rem;
        z-index: -3;
    }

    & p {
        text-wrap: balance;
        font-size: 2rem;
        color: var(--grayColor);
        z-index: -3;
    }
}

.faq-pregunta:nth-of-type(1) {
    margin-top: 10rem;
}

/* ------------------------
       FOOTER SECTION 
--------------------------- */

footer {
    background-color: var(--redColor);
    height: 8rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    color: var(--bgColor);
    margin-top: 15rem
}

footer ul {  
    display: flex;
    list-style-type: none;
}

#footer-wrapper p {
    font-weight: 300;
    color: var(--bgColor)
}

#footer-diabe-link {
    transition: 100ms;
    text-decoration: underline;
    scale: 3;
}

#footer-diabe-link:hover{
    /* color: var(--blueColor); */
    font-weight: 600;
}

#footer-wrapper {
    width: 1200px;
    margin: 2rem auto 2rem auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
}

.social {
    font-size: 3rem;
    margin: auto 1rem;
    transition: 200ms
}

.social:hover {
    scale:1.3;
}



