:root {
    --bgColor: #ecf1f2;
    --redColor: #ee5147;
    --blueColor: #1782bd;
    --mediumBlueColor: #54b3dd;
    --lightBlueColor: #9fdcf1;
    font-size: 62.5%;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    font-size: 1.6rem;
    background-color: var(--bgColor);
    font-family: sans-serif;
}

h2 {
    color: var(--redColor);
    font-weight: 900;
    font-size: 5rem;
    margin: 5rem auto auto;
    text-align: center;
}

p {
    text-align: center;
    margin-top: 2rem;
    font-size: 2.5rem;
}

/* ---ABCD Links---- */

.abcdContainer {
    width: 85rem;
    margin: 7rem auto 4rem auto;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    background-color: var(--blueColor);
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.abcdContainer a {
    text-decoration: none;
    font-weight: 900;
    margin: 0 0.5rem;
    transition: 200ms;
    display: inline-block;
    color: var(--bgColor)
}

.abcdContainer a:hover {
    /* color: var(--redColor); */
    scale: 1.8;
}

 a.noPueblo {
    color: var(--mediumBlueColor);
}

a.noPueblo:hover {
    color: var(--mediumBlueColor);
    scale: 1;
}


/* ---Famracias---- */

.Farmacias-Container {
    max-width: 1200px;
    margin: auto auto;
    padding: 5rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
}

.Farmacia {
    /* margin: 3rem; */
    /* padding: 2rem; */
    background-color: white;
    border-radius: 1.5rem;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    transition: 300ms ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    /* border: 3px solid var(--lightBlueColor) */
}

.Farmacia:hover,
.Farmacia:active {
    scale: 1.08;
    rotate: 2deg;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

h3 {
    background-color: var(--blueColor);
    color: var(--bgColor);
    font-weight: 900;
    font-size: 2.5rem;;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    text-align: center;
    padding: 1rem;
    border-radius: 1.5rem 1.5rem 0 0;
}


ul {
    margin: auto auto;
    padding-bottom: 2rem;
}

ul li {
    list-style-type: none;
    line-height: 2.8rem;
    font-weight: 600;
    color: black;
    text-align: center;
}
