/* ---FONTS--- */

@font-face {
    font-family: 'Montreux-Grotesk';
    font-weight: 200;
    src: url('assets/fonts/Montreux_Grotesk_Soft/MontreuxGS-Lt.woff2') format('woff2');
}

@font-face {
    font-family: 'Montreux-Grotesk';
    font-weight: 200;
    font-style: italic;
    src: url('assets/fonts/Montreux_Grotesk_Soft/MontreuxGS-LtIt.woff2') format('woff2');
}

@font-face {
    font-family: 'Montreux-Grotesk';
    font-weight: 400;
    src: url('assets/fonts/Montreux_Grotesk_Soft/MontreuxGS-Rg.woff2') format('woff2');
}

@font-face {
    font-family: 'Montreux-Grotesk';
    font-weight: 400;
    font-style: italic;
    src: url('assets/fonts/Montreux_Grotesk_Soft/MontreuxGS-RgIt.woff2') format('woff2');
}

@font-face {
    font-family: 'Montreux-Grotesk';
    font-weight: 700;
    src: url('assets/fonts/Montreux_Grotesk_Soft/MontreuxGS-Bd.woff2') format('woff2');
}

@font-face {
    font-family: 'Montreux-Grotesk';
    font-weight: 700;
    font-style: italic;
    src: url('assets/fonts/Montreux_Grotesk_Soft/MontreuxGS-BdIt.woff2') format('woff2');
}

@font-face {
    font-family: 'Montreux-Grotesk';
    font-weight: 900;
    src: url('assets/fonts/Montreux_Jazz_Soft/MontreuxJS-Blk.woff2') format('woff2');
}

@font-face {
    font-family: 'Montreux-Grotesk';
    font-weight: 900;
    font-style: italic;
    src: url('assets/fonts/Montreux_Jazz_Soft/MontreuxJS-BlkIt.woff2') format('woff2');
}

/* ---Generals--- */

:root {
    --bgColor: #ecf1f2;
    --redColor: #ee5147;
    --blueColor: #1782bd;
    --mediumBlueColor: #54b3dd;
    --lightBlueColor: #9fdcf1;
    --grayColor: #565656;
    --middleGrayColor: #747474;
    --lightGrayColor: #a7a7a7;

    --simpleShadow: 0px 3.5px 4px 0px rgba(0,0,0,0.25);
    --bigShadow: 0px 7px 18px -1px rgba(0,0,0,0.25); 
    font-size: 62.5%;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    font-size: 1.6rem;
    background-color: var(--bgColor);
    color: var(--blueColor);
    font-family: 'Montreux-Grotesk', sans-serif;
    text-align: center;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

section {
    /* margin: 2rem 0rem 2rem 0; */
    padding: 4rem 0 5rem 0;
    min-height: 30rem;
}

/* ---Page--- */

h2 {
    color: var(--redColor);
    font-weight: 900;
    font-size: 8rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    margin: 5rem auto auto;
    text-align: center;
    width: 100%;
    line-height: 8rem;
}

main p {
    text-align: center;
    color: var(--grayColor);
    margin-top: 2rem;
    font-size: 2.5rem;
}

/* ----------------
    Back to Top
------------------- */

#back-to-top {
    position: fixed;
    right: 4rem;
    bottom: 4rem;
    width: 5rem;
    height: 5rem;
    background-color: var(--blueColor);
    border-radius: 50%;
    transition: 200ms;
    color: var(--bgColor);
    box-shadow: var(--simpleShadow);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#back-to-top:hover {
    background-color: var(--redColor);
    color: var(--bgColor);
}


/* ----------------
    Barrita NAV
----------------- */

header {
    width: fit-content;
    margin: 3rem auto;
    /* background-color: var(--grayColor); */
    color: var(--bgColor);
    display: flex;
    text-align: center;
    text-decoration: none;
    /* justify-content:space-around; */

    
}

#logo, #header-link {
    margin: auto auto;
}

#logo {
    font-weight: 900;
    font-size: 4rem;
    margin: auto 2rem;
    transition: 500ms ease;
    color: var(--blueColor);
}

#logo:hover {
    transform: scale(1.1);
}

nav {
    display: flex;
    margin: auto 2rem;
    font-weight: bold;
}

#header-ul {
    display: flex;
    list-style-type: none;
}

#header-link {
    margin: auto 2rem;
    transition: 300ms ease;
    color: var(--blueColor);
}

#header-link:hover {
    transform: scale(1.1);
    font-weight: 600;
    text-decoration: underline 3px;
}

.boton-rojo {
    background-color: var(--redColor);
    padding: 1rem 4rem;
    border-radius: 1rem;
    display: flex;
    margin: auto 2rem;
    transition: 200ms ease;
    box-shadow: var(--simpleShadow);
}

.boton-rojo:hover {
    transform: scale(1.1);
}

.boton-rojo > p {
    color: var(--bgColor);
    font-size: 2rem;
    font-weight: 700;
    margin: auto auto;
}

/* ---ABCD Links---- */

.abcdContainer {
    max-width: 100rem;
    margin: 7rem auto 4rem auto;
    padding: 1rem;
    text-align: center;
    font-size: 2.5rem;
    background-color: var(--blueColor);
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.abcdContainer a {
    text-decoration: none;
    font-weight: 900;
    margin: 0 0.5rem;
    transition: 200ms;
    display: inline-block;
    color: var(--bgColor)
}

.abcdContainer a:hover {
    /* color: var(--redColor); */
    scale: 1.8;
}

 a.noPueblo {
    color: var(--mediumBlueColor);
}

a.noPueblo:hover {
    color: var(--mediumBlueColor);
    scale: 1;
}


/* ---Famracias---- */

.Farmacias-Container {
    max-width: 1200px;
    margin: auto auto;
    padding: 5rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
}

.Farmacia {
    /* margin: 3rem; */
    /* padding: 2rem; */
    background-color: white;
    border-radius: 1.5rem;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    transition: 300ms ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    /* border: 3px solid var(--lightBlueColor) */
}

.Farmacia:hover,
.Farmacia:active {
    scale: 1.08;
    rotate: 2deg;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

h3 {
    background-color: var(--blueColor);
    color: var(--bgColor);
    font-weight: 900;
    font-size: 2.5rem;;
    text-transform: uppercase;
    letter-spacing: 0.3rem;

    margin-bottom: 1.5rem;
    text-align: center;
    padding: 1rem;
    border-radius: 1.5rem 1.5rem 0 0;
    /* width: 102%; */
}


.Farmacia > ul {
    margin: auto auto;
    padding: 2rem;
}

.Farmacia > ul li {
    list-style-type: none;
    line-height: 3rem;
    font-size: 1.8rem;;
    font-weight: 700;
    color: var(--middleGrayColor);
    text-align: center;
    transition: 300ms ease;
    padding: 0 1rem;
    border-radius: 1rem;
}

.Farmacia > ul li:hover {
    scale: 1.1;
    color: white;
    background-color: var(--redColor);
    /* margin: 0.5rem; */
    
}

/* ------------------------
       FOOTER SECTION 
--------------------------- */

footer {
    background-color: var(--redColor);
    height: 8rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    color: var(--bgColor)
}

footer ul {  
    display: flex;
    list-style-type: none;
}

#footer-wrapper p {
    font-weight: 300;
    color: var(--bgColor)
}

#footer-diabe-link {
    transition: 100ms;
    text-decoration: underline;
    scale: 3;
}

#footer-diabe-link:hover{
    /* color: var(--blueColor); */
    font-weight: 600;
}

#footer-wrapper {
    width: 1200px;
    margin: 2rem auto 2rem auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
}

.social {
    font-size: 3rem;
    margin: auto 1rem;
    transition: 200ms
}

.social:hover {
    scale:1.3;
}



